<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="com.chinky.family.CAT_PERMISSION" />

    <permission
        android:name="com.chinky.family.CAT_PERMISSION"
        android:protectionLevel="dangerous" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeApplicationTheme"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.jayantTutorial.JTutorialPart4Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.jayantTutorial.JTutorialPart3Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.jayantTutorial.JTutorialPart2Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.jayantTutorial.JTutorialMenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.cameraXDemo.CameraXDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.permissionsDemo.CustomPermissionDemoActivity"
            android:exported="true"
            android:permission="com.chinky.family.CAT_PERMISSION">

            <!--
            <intent-filter>
                <action android:name="com.chinky.family.ACTION_MEOW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".presentation.ui.permissionsDemo.CameraAndStoragePermissionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.permissionsDemo.PermissionsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.security.EncryptionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.security.SecurityMenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.BottomNavigationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ViewpagerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.locations.LocationInfoDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.activityLifecycle.ActivityLifecycleInComposeDemo"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.navigationDemo.NavigationWithObjectArgumentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.navigationDemo.NavigationWithStringArgumentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.networkCall.NetworkCallDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.services.activities.BackgroundServiceDemoActivity"
            android:exported="false" />

        <service
            android:name=".presentation.ui.services.services.DemoBoundService"
            android:exported="false" />
        <service
            android:name=".presentation.ui.services.services.DemoBackgroundService"
            android:exported="false" />

        <activity
            android:name=".presentation.ui.services.activities.BoundServiceDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.services.activities.ServiceMenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.stateManagements.activities.StateManagementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.stateManagements.activities.StateManagementOnTextFieldDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ComposableMenuActivity"
            android:exported="false" />
        <!--
        Note: Add this theme to every activity if the customized theme for the activity doesn't work.
        android:theme="@style/Theme.AppCompat.DayNight"
        -->
        <activity
            android:name=".presentation.ui.composableFunctions.activities.AlertDialogDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.BoxDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.CardDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.CheckboxDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.CircularProgressIndicatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ColumnDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.IconButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.IconDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ModalNavigationDrawerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.TopBarDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ImageDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyColumnDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyColumnBasicDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyColumnWithPaginationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyColumnWithSearchDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyColumnWithSelectionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyRowDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyRowBasicDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyRowWithSelectionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LazyRowWithSearchDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.LinearProgressIndicatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ListItemDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ModifierDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.OutlinedButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.OutlinedTextFieldDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.RadioButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.RowDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.ScaffoldDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.SnackbarDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.SwitchDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.TextButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.TextFieldDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.ChildApplicationTheme" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.TextDemoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.composableFunctions.activities.DropDownMenuDemoActivity"
            android:exported="false" />
        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HomeApplicationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>