<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeApplicationTheme"
        tools:targetApi="31">
        <activity
            android:name=".activities.StateManagementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ComposableMenuActivity"
            android:exported="false" />
        <!--
        Note: Add this theme to every activity if the customized theme for the activity doesn't work.
        android:theme="@style/Theme.AppCompat.DayNight"
        -->
        <activity
            android:name=".activities.Composable.AlertDialogDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.BoxDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.ButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.CardDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.CheckboxDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.CircularProgressIndicatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.ColumnDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.IconButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.IconDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.LazyColumnDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.LazyRowDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.LinearProgressIndicatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.ListItemDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.ModifierDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.OutlinedButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.OutlinedTextFieldDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.RadioButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.RowDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.ScaffoldDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.SnackbarDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.SwitchDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.TextButtonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.TextFieldDemoActivity"
            android:exported="false"
            android:theme="@style/Theme.ChildApplicationTheme" />
        <activity
            android:name=".activities.Composable.TextDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Composable.DropDownMenuDemoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HomeApplicationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>